{% extends 'base.html.twig' %}

{% block title %}Relais{% endblock %}

{% block body %}
    <h1>Relais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relai.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ relai.nom }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ relai.commune }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ relai.lat }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ relai.lon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_relais_index') }}">back to list</a>

    <a href="{{ path('app_relais_edit', {'id': relai.id}) }}">edit</a>

    {{ include('relais/_delete_form.html.twig') }}
{% endblock %}
