<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ferme Solaire -
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{asset('assets/icon.ico')}}">
		<link
		rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
		{#        add leaflet.BigImage css#}
		<link rel="stylesheet" href="https://unpkg.com/leaflet.bigimage/dist/Leaflet.BigImage.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="d-flex py-2" style="background-color: #ccccff">
			<img src="{{ asset('assets/logofermesolaire.svg') }}" alt="Logo Ferme Solaire" class="absolute w-1/12 ml-2 px-2 ">
			<ul class="d-flex justify-content-center align-self-center mb-0">
				<li class="btn btn-primary mx-1 align-self-center">
					<a href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="btn btn-primary mx-1 align-self-center">
					<a href="{{ path('app_relais_index') }}">Relais</a>
				</li>
				<li class="btn btn-primary mx-1 align-self-center">
					<a href="{{ path('admin') }}">Admin</a>
				</li>
			</ul>
		</nav>
		<div class="card m-2">
			<div class="card-header">
				<h3>Cartographies</h3>
			</div>
			<div class="card-body"> {% block body %}{% endblock %}
				</div>
			</div>
		</body>
	</html>
